.app-blog-footer {
    padding: 25px;

    &__content {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    &__title {
        color: #E56620;
        margin-left: 20px;
    }

    &__contact {
        color: #111A51;
        font-size: 18px;
    }
}
