// authentication
@forward "components/auth/authentication";

// forms
@forward "components/forms/forms";

// general
@forward "components/general/general";
@forward "components/general/home";
@forward "components/general/profile";

// blogs
@forward "components/blogs/blog";

// categories
@forward "components/categories/category";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Basis styling */
.app {
    height: 100vh;
}

.app-blog {
    height: 100%;
}

.app-blog-body {
    background: #f4f4f4;
    color: #333;
    font-family: Arial, sans-serif;

}

/* Profile page */
.profile-page {
    display: grid;
    gap: 20px;
    grid-template-columns: 300px 1fr;
    min-height: 100vh;
    position: relative;

    .hero {
        grid-column: 1 / -1;
        height: 300px;
        overflow: hidden;
        position: relative;
        width: 100%;
    }
}

.profile-card {
    border-radius: 12px;
    left: 30%;
    position: absolute;
    top: 150px;
    transform: translateX(-50%);

    .profile-picture img {
        border: 5px solid #fff;
        border-radius: 50%;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
        height: 250px;
        margin-bottom: 15px;
        object-fit: cover;
        width: 250px;
    }

    h2 {
        color: #D66D35;
        font-family: "Rockwell Extra Bold", Rockwell, serif;
        font-size: 30px;
        margin-bottom: 5px;
    }

    .username {
        color: #111B4E;
        display: block;
        font-family: "Rockwell Extra Bold", Rockwell, serif;
        font-size: 25px;
        margin-bottom: 15px;
    }

    .stats {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 15px;

        div {
            font-size: 1rem;

            strong {
                color: #111a51;
                display: block;
                font-size: 1.2rem;
            }
        }
    }
}
