// authentication
@forward "components/auth/authentication";
@forward "components/auth/login";
@forward "components/auth/register";

// forms
@forward "components/forms/forms";

// general
@forward "components/general/general";
@forward "components/general/home";
@forward "components/general/profile";
@forward "components/general/following";
@forward "components/general/page";
@forward "components/general/sidebar";
@forward "components/general/error";
@forward "components/general/icons";

// blogs
@forward "components/blogs/blog";

// categories
@forward "components/categories/category";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Basis styling */
.app {
    height: 100vh;

    &-blog {
        height: 100%;

        &-body {
            background: #f4f4f4;
            color: #333;
            font-family: Arial, sans-serif;
        }
    }
}
