.base {
    &-input,
    &-textarea {
        &__input {
            border: 1px solid #C0C0C0;
            border-radius: 20px;
            font-size: 16px;
            max-width: 100%;
            padding: 15px;

        }
    }

    &-button {
        &__button {
            &:hover {
                cursor: pointer;
            }

            &.--create {
                background-color: transparent;
                border: none;
                font-size: 30px;
                padding: 5px;

            }
        }
    }
}
